body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
  } 
  
  .container{
    width: 100%;
    max-width: 350px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .bg{
    position: absolute;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .night_bg{
    background: #0F2129;
    background: -webkit-linear-gradient(#0F2129, #47334A); 
    
  }
  .sunny_bg{
  background: #e6b720;
  background: -webkit-linear-gradient(#dfdb20, #db7e13); 
}