  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
  } 
  
  .container{
    width: 100%;
    max-width: 350px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .bg{
    position: absolute;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .hidden {
    display: none;
  }
  

  .night_bg{
    background: #0F2129;
    background: -webkit-linear-gradient(#0F2129, #47334A); 
    
  }
  .sunny_bg{
    background: #ffe066;
    background: -webkit-linear-gradient(#ffe066, #ffcc00);
    
}

  .cloudy_bg{
  background: #a8b7c8;
  background: -webkit-linear-gradient(#a8b7c8, #4f687f);   
}

  .rainy_bg{
  background: #7799dd;
  background: -webkit-linear-gradient(#7799dd, #336699);  
}

  .snowy_bg{
  background: #c2d5df;
  background: -webkit-linear-gradient(#c2d5df, #9acfea); 
}

.degrees{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 1;
}